@using Tshop.Models;
@model IEnumerable<Size>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Current Size List </h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"> <i class="fi-cwsuxl-plus-solid"></i>&nbsp; Add Size </a>
    </div>
</div>


<br />
<div>
    <table class="table table-striped border ">
        <tr class="table-info">

            <th> @Html.DisplayNameFor(c => c.ProductSize) </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.ProductSize </td>
                <td>
                    <partial name="_ButtonForSizePartial" model="@item.Id">
                </td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save) {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit) {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del) {
                alertify.error(del);
            }
        })
    </script>
} 